.container{
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    padding: 25px;
    width: 50%;
}


.background-div {
    width: 100%;
    height: 100%; /* Set the desired height */
    background-image: url('/assets/bgimg.jpeg');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }