  <!-- Header -->
  <!-- Header -->
  <header class="bg-dark text-white py-3 px-5 d-flex justify-content-between">
    <h1 class="h3 text-start" routerLink="/login" style="cursor: pointer;"><i class="bi bi-clipboard-plus"></i> e-Vaidya</h1>
  </header>
<br>

<div class="background-div" [ngStyle]="{ 'background-image': 'url(/assets/bgimg.jpeg)' }">
<div class="container">
<form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
    <div class="form-group">
      <label for="email">Enter your Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        [value]="email"
        disabled
      />
    </div>
  
    <div class="form-group">
      <label for="password">Enter Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [(ngModel)]="password"
        required
        minlength="6"
      />
    </div>
  
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="form-control"
        [(ngModel)]="confirmPassword"
        required
        minlength="6"
      />
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">
      Submit
    </button>
  </form>
  </div>
  </div>