  <!-- Header -->
  <header class="bg-dark text-white py-3 px-5 d-flex justify-content-between">
    <h1 class="h3 text-start"><i class="bi bi-clipboard-plus"></i> e-Vaidya</h1>
    <h1 class="h5 text-end" routerLink="/login"><i class="bi bi-person-circle"></i> Logout</h1>
  </header>
<br>
<div class="button-container">
    <button class="big-button" routerLink="/adddoctor">Add New Doctor</button>
    <button class="big-button" routerLink="/managedoctor">Manage Doctors</button>
    <button class="big-button" routerLink="/managepatient">Manage Patients</button>
    <button class="big-button" routerLink="/changepassword">Change Profile Password</button>
  </div>
  