
  <!-- Header -->
  <header class="bg-dark text-white py-3 text-start px-5">
    <h1 class="h3"><i class="bi bi-clipboard-plus"></i> e-Vaidya</h1>
</header>
<br>
<div class="container">
  <h2 class="mb-4 text-center">New Patient SignUp</h2>
  
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" id="firstname" class="form-control" formControlName="firstName">
      <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="text-danger">
        Please enter your First Name.
      </div>
    </div>

    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" id="lastame" class="form-control" formControlName="lastName">
      <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="text-danger">
        Please enter your Last Name.
      </div>
    </div>
    <!-- Email Input -->
    <div class="mb-3">
      <label for="email" class="form-label">User Email</label>
      <input type="email" id="username" class="form-control" formControlName="email" placeholder="Enter your email">
      <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
        Please enter a valid email.
      </div>
    </div>

    <!-- Password Input -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password" placeholder="Enter your password">
      <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">
        Password must be at least 6 characters long.
      </div>
    </div>

    <!-- Checkbox for Is Doctor -->
   <!-- <div class="mb-3 form-check">
      <input type="checkbox" id="isDoctor" class="form-check-input" formControlName="isDoctor">
      <label class="form-check-label" for="isDoctor">Login as a Doctor?</label>
    </div> -->
    <div *ngIf="isWrongCred">
      <p style="color:rgb(123, 25, 25);">Please enter the correct Email and Password</p>
    </div>
    <!-- Login Button -->
    <button type="submit" class="btn btn-primary w-100" [disabled]="signupForm.invalid">Sign Up</button>
  </form>
  <div class="text-center p-2">
  <p>Already have an account?<a routerLink="/login"> login</a></p>
  </div>
</div>